@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);

* {
    box-sizing:border-box;
    font-family: Ubuntu;
    color:cornflowerblue;
    
    
}

.paragraphs {

    font-size: 1.5em;
    margin: auto;
    text-align: left;
    max-width: 1000px;
    padding: 0 1.5em;
    text-shadow: 2px 2px 2px rgb(14, 8, 8);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg);
    scroll-behavior: smooth;
}

.nav li {
    display: inline;
}

 .nav ul {
     margin: 0;
 }

 nav a {
     padding: .5em;
     color: white;
     text-decoration: none;
 }

 .main-nav {
     text-align: center;
     font-size: 1.5em;
     font-weight: lighter;
 }
 
 .main-nav li {
     padding: 0% 5%;
 }
 .nav a:hover {
     background-color: rgba(131, 0, 207, 0.3);
 }

 .main-header {
    background-color: black;
    background-size: cover;
    padding-bottom: 30px;
    text-shadow: 3px 3px 2px rgb(40, 35, 114);
    
}

.section-header {
    font-family: monospace;
    font-weight: normal;
    color: violet;
    text-align: center;
    font-size: 2.5em;
    text-decoration-line: underline;
    text-shadow: 3px 3px 2px rgb(14, 8, 8);
}

.subheader {
    color: violet;
    font-family: monospace;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 2px 2px 2px rgb(14, 8, 8);
    padding: 0 1.5em;
    text-decoration-line: underline;
}

.my-name {
    text-align: left;
    margin: 0% auto;
    font-size: 3em;
    font-family: monospace;
    color: violet;
    padding: 0 1em;
    text-shadow: 0 0 .6em rgb(112, 112, 112);
    max-width: 1000px;

}


.my-name-large {
    font-size:7em;
    text-align: center;
    margin: 0%;
    font-family: monospace;
    color: cornflowerblue;
    text-shadow: 0 0 .6em rgb(112, 112, 112),
    0 0 .09em var(--clr-neon);
}


.content-section {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

.image-grid-section {
    display: block;
    text-align: center;


}

.container {
    max-width: 1000px;
    margin: 0% auto;
    /* padding: 0 1.5em;-> */
}


.content-image {
    margin: auto;
    display: block;
    border-radius: 10%;
    box-shadow: 0 0 1em violet, 0 0 0.6em cornflowerblue;
}
.main-footer {
    background-color: rgb(12, 0, 11);
    color: violet;
    padding: .25em 0;

}

.top-images {
    height: 350px;
    margin: auto;
    border-radius: 2%;
    box-shadow: 0 0 0.9em cornflowerblue;

}

.image-hover {
    opacity: 1;
    transition: .3s ease;
    backface-visibility: hidden;
    cursor: help;
}

.container:hover .image-hover {
  opacity: 0.4;
}

.middle {
    transition: .2s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: match-parent;

  }

  .text-overlay {
    background-color: #111111;
    font-size: 3em;
    font-family: monospace;
    color: violet;
  }

  .container:hover .middle {
    opacity: 1;
  }



.email-btn {

    background-color: #272727; 
    font-size: 1.06em;  
    font-weight: bold; 
    text-decoration: none; 
    padding: 5px 5px; 
    color: cornflowerblue; 
    border-radius: 5px; 
    display: inline-block; 
    mso-padding-alt: 0;
    cursor:pointer;
    
}


.sample-image {
    height: 200px;
    margin: auto;
    border-radius: 6%;
}
:root {
--clr-neon:hsl(317 100% 54%);
--clr-bg: hsl(323 21% 16%);

}
.neon-button {
    color: var(--clr-neon);
    font-size:2.5rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: var(--clr-neon) 0.1em solid; /*refers to --clr-neon*/
    padding: 0.25em .5em;
    border-radius: 0.25em;

    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.6), 
    0 0 0.45em currentColor;

    box-shadow: inset 0 0 .5em 0 var(--clr-neon),
    0 0 .5em 0 var(--clr-neon);

    /*to get it to snow with the reflection*/
    position: relative; 

}

.neon-button-small {
    color: var(--clr-neon);
    font-size:1.8rem;
    display: inline-block;
    text-decoration: none;
    border: var(--clr-neon) 0.1em solid; /*refers to --clr-neon*/
    padding: 0.25em .5em;
    border-radius: 0.25em;
    margin-right: 2rem;
    
    margin-bottom: 1rem;

    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.6), 
    0 0 0.45em currentColor;

    box-shadow: inset 0 0 .5em 0 var(--clr-neon),
    0 0 .5em 0 var(--clr-neon);

    /*to get it to snow with the reflection*/
    position: relative; 

}

.neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg)
    scale(1, 0.35);

    filter: blur(1em);

    opacity: 0.8;
}



.neon-button::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: var(--clr-neon);*/
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;


}
.neon-button-small::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: var(--clr-neon);*/
    box-shadow: 0 0 3em 0.5em var(--clr-neon);
    opacity: 0;
    transition: opacity 100ms linear;


}
.neon-button:hover,
.neon-button:focus {
    background: var(--clr-neon);
    color: cornflowerblue;
    text-shadow: none;
}

.neon-button:hover::before {
    opacity: 1;
}

.neon-button:hover::after {
    opacity: 1;
}
.neon-button-small:hover::before {
    opacity: 1;
}

.neon-button-small:hover::after {
    opacity: 1;
}

